{% extends 'base.html' %}
{% load static %}
{% block title %} Daisy-Antoinette Writes - Home {% endblock title %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>
  <main id="main">
    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="single" class="img-bg d-flex align-items-end" style="background-image: url('https://i.pinimg.com/564x/41/9d/56/419d56cbc9420520d3eadc87b4f65d0f.jpg');">
                    <div class="img-bg-inner">
                      <h2>Changes</h2>
                      <p>Change The concept of change is scary yet change is a constant. Getting off that plush couch and stepping out of our comfort zone is something no one ever wants to do. The thought of taking that first st...</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single" class="img-bg d-flex align-items-end" style="background-image: url('https://i.pinimg.com/564x/a0/f8/8b/a0f88bbcdb41287f7efed1d307050738.jpg');">
                    <div class="img-bg-inner">
                      <h2>Butterflies in Our Stomach</h2>
                      <p>Butterflies in our stomach Ever felt uneasy just before something big happens? Just before an exam, a job interview, before taking that bold step to start something, or even -sometimes- when you see someone...</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single" class="img-bg d-flex align-items-end" style="background-image: url('https://i.pinimg.com/564x/d3/50/df/d350dfcdf335b8f4c1308e0fc6cf3724.jpg');">
                    <div class="img-bg-inner">
                      <h2>My Own Damn Knight</h2>
                      <p>Most times it is easier to get fixated on the outcome of that beautiful life that we want; vacations spent lazing about on a beach with a chilled drink in hand, or globetrotting, exploring civilization one city at a ti...</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single" class="img-bg d-flex align-items-end" style="background-image: url('https://i.pinimg.com/564x/33/0b/fb/330bfb8eef43014f949a48bcedd25a96.jpg');">
                    <div class="img-bg-inner">
                      <h2>Happiness?</h2>
                      <p>Happiness? You know that moment you feel, your entire world is on pause and no matter what path you take, you feel you’d screw it up. That feeling that no matter how hard you try, you’d never get where y...</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-4">
            <div class="post-entry-1 lg">
              <a href="single"><img src="https://i.pinimg.com/564x/41/9d/56/419d56cbc9420520d3eadc87b4f65d0f.jpg" alt="" class="img-fluid"></a>
              <div class="post-meta"><span class="date">Personal Development</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2><a href="single" style="color: #483C32;">Changes</a></h2>
              <p class="mb-4 d-block">Change The concept of change is scary yet change is a constant. Getting off that plush couch and stepping out of our comfort zone is something no one ever wants to do. The thought of taking that first st...</p>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/de/b8/93/deb89387bb83d452f3c11833347a584a.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Adulting</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2><a href="single" style="color: #483C32;">Dear Diary</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/80/9e/45/809e454c856c07bdc72e6cb6351bc3de.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Self Discovery</span> <span class="mx-1">&bullet;</span> <span>Jul 17th '22</span></div>
                  <h2><a href="single" style="color: #483C32;">Get to Know Yourself</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/d3/50/df/d350dfcdf335b8f4c1308e0fc6cf3724.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Motivation</span> <span class="mx-1">&bullet;</span> <span>Mar 15th '22</span></div>
                  <h2><a href="single" style="color: #483C32;">My Own Damn Knight</a></h2>
                </div>
              </div>
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/33/0b/fb/330bfb8eef43014f949a48bcedd25a96.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Personal Development</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2><a href="single" style="color: #483C32;">Happiness?</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/a0/f8/8b/a0f88bbcdb41287f7efed1d307050738.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Motivation</span> <span class="mx-1">&bullet;</span> <span>Mar 1st '22</span></div>
                  <h2><a href="single" style="color: #483C32;">Butterflies in Your Stomach</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/3c/86/5c/3c865cdb81d8eaf5c1f3a29c41c878a4.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Feminism</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2><a href="single" style="color: #483C32;">Feminism</a></h2>
                </div>
              </div>

              <!-- Trending Section -->
              <div class="col-lg-4">

                <div class="trending">
                  <h3 style="color: #483C32;">Trending</h3>
                  <ul class="trending-post">
                    <li>
                      <a href="single">
                        <span class="number">1</span>
                        <h3 style="color: #483C32;">Try a Little Kindness</h3>
                      </a>
                    </li>
                    <li>
                      <a href="single">
                        <span class="number">2</span>
                        <h3 style="color: #483C32;">Our Masked Heroes</h3>
                      </a>
                    </li>
                    <li>
                      <a href="single">
                        <span class="number">3</span>
                        <h3 style="color: #483C32;">Changes</h3>
                      </a>
                    </li>
                    <li>
                      <a href="single">
                        <span class="number">4</span>
                        <h3 style="color: #483C32;">The Elixir for Unproductivity</h3>
                      </a>
                    </li>
                    <li>
                      <a href="single">
                        <span class="number">5</span>
                        <h3 style="color: #483C32;">Candles & Wine</h3>
                      </a>
                    </li>
                  </ul>
                </div>

              </div> <!-- End Trending Section -->
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section> <!-- End Post Grid Section -->

    <!-- ======= Personal Development Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Personal Development</h2>
          <div><a href="category" class="more">See All Personal Development</a></div>
        </div>

        <div class="row">
          <div class="col-md-9">

            <div class="d-lg-flex post-entry-2">
              <a href="single" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                <img src="https://i.pinimg.com/564x/41/9d/56/419d56cbc9420520d3eadc87b4f65d0f.jpg" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Personal Development</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h3><a href="single" style="color: #483C32;">Change</a></h3>
                <p>Change The concept of change is scary yet change is a constant. Getting off that plush couch and stepping out of our comfort zone is something no one ever wants to do. The thought of taking that first st...</p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="post-entry-1 border-bottom">
                  <a href="single"><img src="https://i.pinimg.com/564x/de/b8/93/deb89387bb83d452f3c11833347a584a.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Personal Development</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single" style="color: #483C32;">Dear Diary</a></h2>
                  <p class="mb-4 d-block">Dear Diary, It has been a while since I written that. I guess times have changed. It is true that one of the hallmarks of being an adult is taking on more responsibilities and I understand that perfectly well but...</p>
                </div>

                <div class="post-entry-1">
                  <div class="post-meta"><span class="date">Personal Development</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single" style="color: #483C32;">Happiness?</a></h2>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/a0/f8/8b/a0f88bbcdb41287f7efed1d307050738.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Personal Development</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single" style="color: #483C32;">Butterflies in Our Stomach</a></h2>
                  <p class="mb-4 d-block">Butterflies in our stomach Ever felt uneasy just before something big happens? Just before an exam, a job interview, before taking that bold...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Personal Development</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single" style="color: #483C32;">Dear Diary</a></h2>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Personal Development</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single" style="color: #483C32;">Butterflies in Our Stomach</a></h2>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Personal Development</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single" style="color: #483C32;">Happiness?</a></h2>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Personal Development</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single" style="color: #483C32;">Change</a></h2>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Personal Development</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single" style="color: #483C32;">Try a Little Kindness</a></h2>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Personal Development</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single" style="color: #483C32;">The Elixir for Unproductivity</a></h2>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Personal Development Category Section -->

    <!-- ======= Motivation Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Motivation</h2>
          <div><a href="category" class="more">See All Motivation</a></div>
        </div>

        <div class="row">
          <div class="col-md-9 order-md-2">
            <div class="d-lg-flex post-entry-2">
              <a href="single" class="me-4 thumbnail d-inline-block mb-4 mb-lg-0">
                <img src="https://i.pinimg.com/564x/a0/f8/8b/a0f88bbcdb41287f7efed1d307050738.jpg" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Motivation</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h3><a href="single" style="color: #483C32;">Butterflies in Our Stomach</a></h3>
                <p>Ever felt uneasy just before something big happens? Just before an exam, a job interview, before taking that bold step to start something, or even -sometimes- when you see someone you love. A lot of people have called this feeling “Butterflies in our stomach”. Most of the time, it’s just a feeling that will pass, right? And sometimes, we get this feeling dismissed by other people as “unprepared” and that, to me seems pretty unfair...</p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="post-entry-1 border-bottom">
                  <a href="single"><img src="https://i.pinimg.com/564x/8d/3f/2f/8d3f2f560903d1f652cb91411b8e6fb0.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Motivation</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single" style="color: #483C32;">The Elixir for Unproductivity</a></h2>
                  <p class="mb-4 d-block">The Elixir for Unproductivity Do you have a problem with finishing what you started? It’s not like you’re lazy, you just get distracted and hop into the next task to come back to the unfinished task. You usuall...</p>
                </div>

                <div class="post-entry-1">
                  <div class="post-meta"><span class="date">Motivation</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single" style="color: #483C32;">New Years Resolution</a></h2>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/2c/a7/66/2ca76677a038f9c1c665bf0a4158ca3a.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Motivation</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single" style="color: #483C32;">The Perfectionist</a></h2>
                  <p class="mb-4 d-block">Imposter syndrome can make anyone doubt their accomplishments despite having success in that area. It leaves someone feeling like a...</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Motivation</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single" style="color: #483C32;">New Years Resolution</a></h2>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Motivation</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single" style="color: #483C32;">The Elixir for Unproductivity</a></h2>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Motivation</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single" style="color: #483C32;">The Perfectionist</a></h2>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Motivation</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single" style="color: #483C32;">Butterflies in Our Stomach</a></h2>
            </div>
        </div>
      </div>
    </section><!-- End Motivation Category Section -->

    <!-- ======= Self Care Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Self Care</h2>
          <div><a href="category" class="more">See All Self Care</a></div>
        </div>

        <div class="row g-5">
          <div class="col-lg-4">
            <div class="post-entry-1 lg">
              <a href="single"><img src="https://i.pinimg.com/564x/3c/86/5c/3c865cdb81d8eaf5c1f3a29c41c878a4.jpg" alt="" class="img-fluid"></a>
              <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2><a href="single" style="color: #483C32;">Feminism</a></h2>
              <p class="mb-4 d-block">The new age is filled with advocates for women’s empowerment, rightly or wrongly, they’re causing changes. The fight for gender equality has been ongoing for decades, with awareness campaigns, protests, rallies, seminars, workshops, and the likes. Female empowerment is a trending topic on most social media platforms. It has even found its way onto radio and televised talk shows...</p>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single" style="color: #483C32;">Candles & Wine</a></h2>
            </div>

            <div class="post-entry-1">
              <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single" style="color: #483C32;">Life Happens</a></h2>
            </div>

          </div>

          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/59/d9/f2/59d9f2a3c4198a512be0ed389108e737.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2><a href="single" style="color: #483C32;">Owning Your Scars</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/0f/83/f8/0f83f8adeff7952a8c6a1e239c7c5241.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 17th '22</span></div>
                  <h2><a href="single" style="color: #483C32;">Not Just a Number</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/75/ff/da/75ffda51be55fd2a65da55219b67990b.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Mar 15th '22</span></div>
                  <h2><a href="single" style="color: #483C32;">Our Masked Heroes</a></h2>
                </div>
              </div>
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/76/46/9c/76469c75f7ff822103854fd9d60254b8.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2><a href="single" style="color: #483C32;">Try a Little Kindness</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/80/9e/45/809e454c856c07bdc72e6cb6351bc3de.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Mar 1st '22</span></div>
                  <h2><a href="single" style="color: #483C32;">Get to Know Yourself</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="single"><img src="https://i.pinimg.com/564x/d3/50/df/d350dfcdf335b8f4c1308e0fc6cf3724.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2><a href="single" style="color: #483C32;">My Own Damn Knight</a></h2>
                </div>
              </div>
              <div class="col-lg-4">

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single style="color: #483C32;">My Own Damn Knight</a></h2>
                </div>

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single" style="color: #483C32;">Try a Little Kindness</a></h2>
                </div>

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single" style="color: #483C32;">Get to Know Yourself</a></h2>
                </div>

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single" style="color: #483C32;">Our Masked Heroes</a></h2>
                </div>

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single" style="color: #483C32;">Not Just a Number</a></h2>
                </div>

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date">Self Care</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single" style="color: #483C32;">Owning Your Scars</a></h2>
                </div>

              </div>
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section><!-- End Lifestyle Category Section -->

  </main><!-- End #main -->
  {% endblock content %}
</body>
</html>